<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tableau de bord E-Wallet</title>
  <link rel="stylesheet" href="/src//css/dashboard.css">
</head>
<body>
  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="sidebar-logo">
      <img src="/assets/e-Wallet6.gif" alt="Logo E-Wallet">
      <h2>E-Wallet</h2>
    </div>
    <ul class="sidebar-menu">
      <li class="active"><a href="#">Tableau de bord</a></li>
      <li><a href="transactions.html">Transactions</a></li>
      <li><a href="transferer.html">Transferer</a></li>
      <li><a href="payer.html">Payer</a></li>
      <li><a href="#">Profil</a></li>
      <li><a href="index.html">Se déconnecter</a></li>
    </ul>
  </aside>

  <!-- Contenu principal -->
  <main class="main-content">
    <header class="topbar">
      <h1 id="welcome_message"> </h1>
      <span id="date" class="topbar-date"> </span>
    </header>

    <!-- Cartes du dashboard -->
    <section class="dashboard-cards">
      <div class="card balance-card">
        <h3>Solde total</h3>
        <h1 id="balance"> </h1>
        <!-- Actions -->
        <div class="card-actions">
          <button id="transferer">
            <img src="/assets/depot.png" alt="Transférer">
            Transférer
          </button>

          <button id="recharger">
            <img src="/assets/trans.png" alt="Recharger">
            Recharger
          </button> 

          <button id="payer">
            <img src="/assets/payer.png" alt="Payer">
            Payer
          </button>
        </div>
      </div>
      <div class="card stats-card">
        <h3>Transactions récentes</h3>

        <div class="filters">
          <select id="choix">
            <option value="Toutes" selected>Toutes</option>
            <option value="Sorties">Sorties</option>
            <option value="Entrees">Entrees</option>
          </select>

          <input type="text" id="Recherche" placeholder="Rechercher">
        </div>

        <table class="transactions-table">
            <tr>
              <th>Date</th>
              <th>Description</th>
              <th>Type</th>
              <th>Montant</th>
            </tr>
          <tbody id="tbody"></tbody>
        </table>
      </div>

    </section>
  </main>
  <script type="module" src="/src/Controller/dashboard.js"></script>
</body>
</html>
